<h1>トレーニングを記録</h1>

<!-- `local: true` を指定して、フォームが非Ajax通信でサーバーにデータを送信することを保証します -->
<%= form_with(model: @training, url: trainings_path, method: :post, local: true) do |form| %>
  <div class="mb-3">
    <label for="training_title">トレーニング名</label>
    <select id="training_title" name="training[title]" class="form-select">
      <option selected>選択してください</option>
      <option value="筋トレ">筋トレ</option>
      <option value="ランニング">ランニング</option>
      <option value="サイクリング">サイクリング</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="training_description">トレーニング内容</label>
    <select id="training_description" name="training[description]" class="form-select">
      <!-- JavaScriptが内容を動的に更新します -->
    </select>
  </div>

  <div id="training_parts" class="mb-3" style="display: none;">
    <label for="training_part">筋トレ部位</label>
    <select id="training_part" name="training[part]" class="form-select">
      <option value="胸">胸</option>
      <option value="背中">背中</option>
      <option value="脚">脚</option>
      <option value="肩">肩</option>
      <option value="腕">腕</option>
      <option value="お尻">お尻</option>
      <option value="腹筋">腹筋</option>
    </select>
  </div>

  <!-- セット数と回数を横並びに表示 -->
  <div class="mb-3 d-flex justify-content-start">
    <div class="me-2">
      <label for="sets">セット数</label>
      <select id="sets" name="training[sets]" class="form-select">
        <!-- JavaScriptでオプションを動的に追加 -->
      </select>
    </div>

    <div class="me-2">
      <label for="reps">回数</label>
      <select id="reps" name="training[reps]" class="form-select">
        <!-- JavaScriptでオプションを動的に追加 -->
      </select>
    </div>
  </div>

  <!-- 新規作成のための送信ボタン -->
  <%= form.submit '保存', class: 'btn btn-primary' %>
<% end %>
