<ul class="pagination justify-content-center">
  <% if current_page > 1 %>
    <li class="page-item">
      <%= link_to raw('&laquo;'), url_for(page: current_page - 1), class: 'page-link' %>
    </li>
  <% else %>
    <li class="page-item disabled">
      <span class="page-link">&laquo;</span>
    </li>
  <% end %>

  <% paginator.each_page do |page| %>
    <% if page.left_outer? || page.right_outer? || page.inside_window? %>
      <li class="page-item <%= ('active' if page.current?) %>">
        <%= link_to page, url_for(page: page), class: 'page-link' %>
      </li>
    <% elsif page.gap? %>
      <li class="page-item disabled">
        <span class="page-link">…</span>
      </li>
    <% end %>
  <% end %>

  <% if current_page < total_pages %>
    <li class="page-item">
      <%= link_to raw('&raquo;'), url_for(page: current_page + 1), class: 'page-link' %>
    </li>
  <% else %>
    <li class="page-item disabled">
      <span class="page-link">&raquo;</span>
    </li>
  <% end %>
</ul>
